*{
    margin: 0%;
    padding: 0%;
    /* transition: 0.3s */
    

    /* box-sizing: border-box ; */
    /* border: 2px solid black; */
}
body{
    font-family: "poppins", sans-serif;
        
}
nav{
    position: fixed;
    width: 100%;
    font-weight: bold;
    background-color: #fff;
    box-shadow:0 1px 4px rgba(146, 161, 176, 0.15)
    
    
    

}
.navbar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 80px;
    align-items: center;
    margin-right: 120px;
    margin-left: 120px;
    position: relative;
    z-index: -1;
    
    
}
.nav_links{
    width: 40%;

}
.nav_links ul{
    display: flex;
    justify-content: space-between;
   
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;    
}
.home_title-color{
color: #3e6ff4;
}

.home_title{
    margin-top: 100px;
    font-size: 2.5rem

    
}
.profile_img{
    margin-top: 100px;
    height: ;
    /* width: 25%; */
    /* height: 10rem; */
    background-color:#3e6ff4;
}
#home{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
    height: 34.5rem;
    /* background-color: gray; */
      
}
.about{
    display: flex;
    justify-content: space-around;
    /* background-color: pink; */
    margin-top: 20px;
    /* position: relative; */
    /* z-index: 12; */
    height: 15rem;
}

.image2{
    background-color: red;
    width: 25rem;
    height: 15rem ;
    margin-bottom: 10rem;
    margin-left: 10rem;
}
.skill{
    display: flex;
    justify-content: space-around;
}
.work{
    /* display: flex;
    justify-content: space-between; */

}
.totalimg{
    display: flex;
    justify-content: space-around;
    background-color: blue;
    width: 100%;
    height: 50%;
}
#img1{
    
    
   
} 
#img2{
    /* height: 5%;
    width: 15%;
    background-color: green; */
}
.contact{
    display: flex;
    justify-content: center;
}

.section_title{
    text-align: center;
    text-decoration:underline;
    color: #3e6ff4;
    font-weight: bold;
}

button{
    display: inline-block;
    border: 0px;
    background-color: #527ef6;
    color: white;
    padding: 0.75rem 2.5rem;
    /* margin-left: 120px; */
    font-weight: bold;
    border-radius: 0.5rem;
    transition: 0.3s
}
.downbutton{
    border: 0px;
    background-color: #527ef6;
    color: white;
    /* padding: 0.75rem 2.5rem; */
    margin-left: 120px;
    font-weight: bold;
    border-radius: 0.5rem;
    transition: 0.3s
}

.Contactcolor{
    color: #fff;
}
.footer{
    color: white;
    height: 15rem;
    background-color: hsl(224, 56%, 12%);
    text-align: center;
    padding: 0.5rem;
    font-weight: bold;
    margin-top: 30px;
    
}
.footer_title{
    font-size: 2rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
}
.social_icons{
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.5rem;
}
.social_links{
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    
}
.fa {  
    padding: 20px;  
    margin: 5px    

  }  
  .fa-facebook {  
    color: white;  
  } 
  .fa-instagram {  
    color: white;  
  } 
  .fa-twitter {  
    color: white;  
  } 
  .fa-linkedin {  
    color: black;  
  } 
  .fa-behance {  
    color: black;  
  } 
